{% extends 'login/layout.html' %}

{% load static %}

{% block title %}Create Tennis Circle Account{% endblock %}

{% block body %}

<div class="content centered">

    <form method="post">
        {% csrf_token %}
        <div class="space"></div>
        <img src="{% static 'login/logo.png' %}" class="logo centered">
        <div class="space"></div>
        <div class="space"></div>
        <p class="welcome">Sign Up</p>
        <div class="space"></div>
        <div class="space"></div>
        <div class="fields centered">
            {{ form.as_p }}
            <div class="space"></div>
            <input type="submit" value="Create Account" class="field centered">
        </div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="fields centered">
            <p class="message">Have an existing account? <a href="{% url 'login:login' %}">Sign in</a>.</p>
        </div>
    </form>

</div>

{% endblock %}